@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

button {
  font-family: inherit;
}

.checkbox-wrapper-26 * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.checkbox-wrapper-26 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-26 label {
  --size: 50px;
  --shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1);
  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  background-color: #f72414;
  border-radius: 50%;
  box-shadow: 0 var(--shadow) #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.checkbox-wrapper-26 label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(var(--size) * 0.7);
  height: calc(var(--size) * 0.7);
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 var(--shadow) #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper-26 label:hover:before {
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
  box-shadow: inset 0 var(--shadow) #ff9d96;
}

.checkbox-wrapper-26 label:active {
  transform: scale(0.9);
}

.checkbox-wrapper-26 .tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: calc(var(--size) * -0.05);
  width: calc(var(--size) * 0.6);
  height: calc(var(--size) * 0.6);
  margin: 0 auto;
  margin-left: calc(var(--size) * 0.14);
  transform: rotateZ(-40deg);
}

.checkbox-wrapper-26 .tick_mark:before,
.checkbox-wrapper-26 .tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper-26 .tick_mark:before {
  left: 0;
  bottom: 0;
  width: calc(var(--size) * 0.1);
  height: calc(var(--size) * 0.3);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(calc(var(--size) * -0.68));
}

.checkbox-wrapper-26 .tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--size) * 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(calc(var(--size) * 0.78));
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label {
  background-color: #07d410;
  box-shadow: 0 var(--shadow) #92ff97;
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label:before {
  width: 0;
  height: 0;
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:before,
.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 25px;
}
@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}
@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
.checkbox-wrapper-19 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * 0.1) solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.2);
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #666;
  background-size: cover;
}

#btns {
  position: fixed;
  width: 100%;
  top: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#btns button {
  border: none;
  outline: none;
  background-color: #105fe8;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 0 0 #0d4bb8;
  font-weight: 600;
}

#remaining-time {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#remaining-time #day {
  font-size: 12vw;
  font-weight: 700;
  text-shadow: 1px 1px 0 #333333,2px 2px 0 #333333,3px 3px 0 #333333,4px 4px 0 #333333,5px 5px 0 #333333,6px 6px 0 #333333,7px 7px 0 #333333,8px 8px 0 #333333,9px 9px 0 #333333,10px 10px 0 #333333,11px 11px 0 #333333,12px 12px 0 #333333,13px 13px 0 #333333,14px 14px 0 #333333,15px 15px 0 #333333,16px 16px 0 #333333,17px 17px 0 #333333,18px 18px 0 #333333,19px 19px 0 #333333,20px 20px 0 #333333,21px 21px 0 #333333,22px 22px 0 #333333,23px 23px 0 #333333,24px 24px 0 #333333,25px 25px 0 #333333,26px 26px 0 #333333,27px 27px 0 #333333,28px 28px 0 #333333,29px 29px 0 #333333,30px 30px 0 #333333,31px 31px 0 #333333,32px 32px 0 #333333,33px 33px 0 #333333,34px 34px 0 #333333,35px 35px 0 #333333,36px 36px 0 #333333,37px 37px 0 #333333,38px 38px 0 #333333,39px 39px 0 #333333,40px 40px 0 #333333,41px 41px 0 #333333,42px 42px 0 #333333,43px 43px 0 #333333,44px 44px 0 #333333,45px 45px 0 #333333,46px 46px 0 #333333,47px 47px 0 #333333,48px 48px 0 #333333,49px 49px 0 #333333,50px 50px 0 #333333,51px 51px 0 #333333,52px 52px 0 #333333,53px 53px 0 #333333,54px 54px 0 #333333,55px 55px 0 #333333,56px 56px 0 #333333,57px 57px 0 #333333,58px 58px 0 #333333,59px 59px 0 #333333,60px 60px 0 #333333,61px 61px 0 #333333,62px 62px 0 #333333,63px 63px 0 #333333,64px 64px 0 #333333,65px 65px 0 #333333,66px 66px 0 #333333,67px 67px 0 #333333,68px 68px 0 #333333,69px 69px 0 #333333,70px 70px 0 #333333,71px 71px 0 #333333,72px 72px 0 #333333,73px 73px 0 #333333,74px 74px 0 #333333,75px 75px 0 #333333,76px 76px 0 #333333,77px 77px 0 #333333,78px 78px 0 #333333,79px 79px 0 #333333,80px 80px 0 #333333,81px 81px 0 #333333,82px 82px 0 #333333,83px 83px 0 #333333,84px 84px 0 #333333,85px 85px 0 #333333,86px 86px 0 #333333,87px 87px 0 #333333,88px 88px 0 #333333,89px 89px 0 #333333,90px 90px 0 #333333,91px 91px 0 #333333,92px 92px 0 #333333,93px 93px 0 #333333,94px 94px 0 #333333,95px 95px 0 #333333,96px 96px 0 #333333,97px 97px 0 #333333,98px 98px 0 #333333,99px 99px 0 #333333,100px 100px 0 #333333,101px 101px 0 #333333,102px 102px 0 #333333,103px 103px 0 #333333,104px 104px 0 #333333,105px 105px 0 #333333,106px 106px 0 #333333,107px 107px 0 #333333,108px 108px 0 #333333,109px 109px 0 #333333,110px 110px 0 #333333,111px 111px 0 #333333,112px 112px 0 #333333,113px 113px 0 #333333,114px 114px 0 #333333,115px 115px 0 #333333,116px 116px 0 #333333,117px 117px 0 #333333,118px 118px 0 #333333,119px 119px 0 #333333,120px 120px 0 #333333,121px 121px 0 #333333,122px 122px 0 #333333,123px 123px 0 #333333,124px 124px 0 #333333,125px 125px 0 #333333,126px 126px 0 #333333,127px 127px 0 #333333,128px 128px 0 #333333,129px 129px 0 #333333,130px 130px 0 #333333,131px 131px 0 #333333,132px 132px 0 #333333,133px 133px 0 #333333,134px 134px 0 #333333,135px 135px 0 #333333,136px 136px 0 #333333,137px 137px 0 #333333,138px 138px 0 #333333,139px 139px 0 #333333,140px 140px 0 #333333,141px 141px 0 #333333,142px 142px 0 #333333,143px 143px 0 #333333,144px 144px 0 #333333,145px 145px 0 #333333,146px 146px 0 #333333,147px 147px 0 #333333,148px 148px 0 #333333,149px 149px 0 #333333,150px 150px 0 #333333,151px 151px 0 #333333,152px 152px 0 #333333,153px 153px 0 #333333,154px 154px 0 #333333,155px 155px 0 #333333,156px 156px 0 #333333,157px 157px 0 #333333,158px 158px 0 #333333,159px 159px 0 #333333,160px 160px 0 #333333,161px 161px 0 #333333,162px 162px 0 #333333,163px 163px 0 #333333,164px 164px 0 #333333,165px 165px 0 #333333,166px 166px 0 #333333,167px 167px 0 #333333,168px 168px 0 #333333,169px 169px 0 #333333,170px 170px 0 #333333,171px 171px 0 #333333,172px 172px 0 #333333,173px 173px 0 #333333,174px 174px 0 #333333,175px 175px 0 #333333,176px 176px 0 #333333,177px 177px 0 #333333,178px 178px 0 #333333,179px 179px 0 #333333,180px 180px 0 #333333,181px 181px 0 #333333,182px 182px 0 #333333,183px 183px 0 #333333,184px 184px 0 #333333,185px 185px 0 #333333,186px 186px 0 #333333,187px 187px 0 #333333,188px 188px 0 #333333,189px 189px 0 #333333,190px 190px 0 #333333,191px 191px 0 #333333,192px 192px 0 #333333,193px 193px 0 #333333,194px 194px 0 #333333,195px 195px 0 #333333,196px 196px 0 #333333,197px 197px 0 #333333,198px 198px 0 #333333,199px 199px 0 #333333,200px 200px 0 #333333,201px 201px 0 #333333,202px 202px 0 #333333,203px 203px 0 #333333,204px 204px 0 #333333,205px 205px 0 #333333,206px 206px 0 #333333,207px 207px 0 #333333,208px 208px 0 #333333,209px 209px 0 #333333,210px 210px 0 #333333,211px 211px 0 #333333,212px 212px 0 #333333,213px 213px 0 #333333,214px 214px 0 #333333,215px 215px 0 #333333,216px 216px 0 #333333,217px 217px 0 #333333,218px 218px 0 #333333,219px 219px 0 #333333,220px 220px 0 #333333,221px 221px 0 #333333,222px 222px 0 #333333,223px 223px 0 #333333,224px 224px 0 #333333,225px 225px 0 #333333,226px 226px 0 #333333,227px 227px 0 #333333,228px 228px 0 #333333,229px 229px 0 #333333,230px 230px 0 #333333,231px 231px 0 #333333,232px 232px 0 #333333,233px 233px 0 #333333,234px 234px 0 #333333,235px 235px 0 #333333,236px 236px 0 #333333,237px 237px 0 #333333,238px 238px 0 #333333,239px 239px 0 #333333,240px 240px 0 #333333,241px 241px 0 #333333,242px 242px 0 #333333,243px 243px 0 #333333,244px 244px 0 #333333,245px 245px 0 #333333,246px 246px 0 #333333,247px 247px 0 #333333,248px 248px 0 #333333,249px 249px 0 #333333,250px 250px 0 #333333,251px 251px 0 #333333,252px 252px 0 #333333,253px 253px 0 #333333,254px 254px 0 #333333,255px 255px 0 #333333,256px 256px 0 #333333,257px 257px 0 #333333,258px 258px 0 #333333,259px 259px 0 #333333,260px 260px 0 #333333,261px 261px 0 #333333,262px 262px 0 #333333,263px 263px 0 #333333,264px 264px 0 #333333,265px 265px 0 #333333,266px 266px 0 #333333,267px 267px 0 #333333,268px 268px 0 #333333,269px 269px 0 #333333,270px 270px 0 #333333,271px 271px 0 #333333,272px 272px 0 #333333,273px 273px 0 #333333,274px 274px 0 #333333,275px 275px 0 #333333,276px 276px 0 #333333,277px 277px 0 #333333,278px 278px 0 #333333,279px 279px 0 #333333,280px 280px 0 #333333,281px 281px 0 #333333,282px 282px 0 #333333,283px 283px 0 #333333,284px 284px 0 #333333,285px 285px 0 #333333,286px 286px 0 #333333,287px 287px 0 #333333,288px 288px 0 #333333,289px 289px 0 #333333,290px 290px 0 #333333,291px 291px 0 #333333,292px 292px 0 #333333,293px 293px 0 #333333,294px 294px 0 #333333,295px 295px 0 #333333,296px 296px 0 #333333,297px 297px 0 #333333,298px 298px 0 #333333,299px 299px 0 #333333,300px 300px 0 #333333,301px 301px 0 #333333,302px 302px 0 #333333,303px 303px 0 #333333,304px 304px 0 #333333,305px 305px 0 #333333,306px 306px 0 #333333,307px 307px 0 #333333,308px 308px 0 #333333,309px 309px 0 #333333,310px 310px 0 #333333,311px 311px 0 #333333,312px 312px 0 #333333,313px 313px 0 #333333,314px 314px 0 #333333,315px 315px 0 #333333,316px 316px 0 #333333,317px 317px 0 #333333,318px 318px 0 #333333,319px 319px 0 #333333,320px 320px 0 #333333,321px 321px 0 #333333,322px 322px 0 #333333,323px 323px 0 #333333,324px 324px 0 #333333,325px 325px 0 #333333,326px 326px 0 #333333,327px 327px 0 #333333,328px 328px 0 #333333,329px 329px 0 #333333,330px 330px 0 #333333,331px 331px 0 #333333,332px 332px 0 #333333,333px 333px 0 #333333,334px 334px 0 #333333,335px 335px 0 #333333,336px 336px 0 #333333,337px 337px 0 #333333,338px 338px 0 #333333,339px 339px 0 #333333,340px 340px 0 #333333,341px 341px 0 #333333,342px 342px 0 #333333,343px 343px 0 #333333,344px 344px 0 #333333,345px 345px 0 #333333,346px 346px 0 #333333,347px 347px 0 #333333,348px 348px 0 #333333,349px 349px 0 #333333,350px 350px 0 #333333,351px 351px 0 #333333,352px 352px 0 #333333,353px 353px 0 #333333,354px 354px 0 #333333,355px 355px 0 #333333,356px 356px 0 #333333,357px 357px 0 #333333,358px 358px 0 #333333,359px 359px 0 #333333,360px 360px 0 #333333,361px 361px 0 #333333,362px 362px 0 #333333,363px 363px 0 #333333,364px 364px 0 #333333,365px 365px 0 #333333,366px 366px 0 #333333,367px 367px 0 #333333,368px 368px 0 #333333,369px 369px 0 #333333,370px 370px 0 #333333,371px 371px 0 #333333,372px 372px 0 #333333,373px 373px 0 #333333,374px 374px 0 #333333,375px 375px 0 #333333,376px 376px 0 #333333,377px 377px 0 #333333,378px 378px 0 #333333,379px 379px 0 #333333,380px 380px 0 #333333,381px 381px 0 #333333,382px 382px 0 #333333,383px 383px 0 #333333,384px 384px 0 #333333,385px 385px 0 #333333,386px 386px 0 #333333,387px 387px 0 #333333,388px 388px 0 #333333,389px 389px 0 #333333,390px 390px 0 #333333,391px 391px 0 #333333,392px 392px 0 #333333,393px 393px 0 #333333,394px 394px 0 #333333,395px 395px 0 #333333,396px 396px 0 #333333,397px 397px 0 #333333,398px 398px 0 #333333,399px 399px 0 #333333,400px 400px 0 #333333,401px 401px 0 #333333,402px 402px 0 #333333,403px 403px 0 #333333,404px 404px 0 #333333,405px 405px 0 #333333,406px 406px 0 #333333,407px 407px 0 #333333,408px 408px 0 #333333,409px 409px 0 #333333,410px 410px 0 #333333,411px 411px 0 #333333,412px 412px 0 #333333,413px 413px 0 #333333,414px 414px 0 #333333,415px 415px 0 #333333,416px 416px 0 #333333,417px 417px 0 #333333,418px 418px 0 #333333,419px 419px 0 #333333,420px 420px 0 #333333,421px 421px 0 #333333,422px 422px 0 #333333,423px 423px 0 #333333,424px 424px 0 #333333,425px 425px 0 #333333,426px 426px 0 #333333,427px 427px 0 #333333,428px 428px 0 #333333,429px 429px 0 #333333,430px 430px 0 #333333,431px 431px 0 #333333,432px 432px 0 #333333,433px 433px 0 #333333,434px 434px 0 #333333,435px 435px 0 #333333,436px 436px 0 #333333,437px 437px 0 #333333,438px 438px 0 #333333,439px 439px 0 #333333,440px 440px 0 #333333,441px 441px 0 #333333,442px 442px 0 #333333,443px 443px 0 #333333,444px 444px 0 #333333,445px 445px 0 #333333,446px 446px 0 #333333,447px 447px 0 #333333,448px 448px 0 #333333,449px 449px 0 #333333,450px 450px 0 #333333,451px 451px 0 #333333,452px 452px 0 #333333,453px 453px 0 #333333,454px 454px 0 #333333,455px 455px 0 #333333,456px 456px 0 #333333,457px 457px 0 #333333,458px 458px 0 #333333,459px 459px 0 #333333,460px 460px 0 #333333,461px 461px 0 #333333,462px 462px 0 #333333,463px 463px 0 #333333,464px 464px 0 #333333,465px 465px 0 #333333,466px 466px 0 #333333,467px 467px 0 #333333,468px 468px 0 #333333,469px 469px 0 #333333,470px 470px 0 #333333,471px 471px 0 #333333,472px 472px 0 #333333,473px 473px 0 #333333,474px 474px 0 #333333,475px 475px 0 #333333,476px 476px 0 #333333,477px 477px 0 #333333,478px 478px 0 #333333,479px 479px 0 #333333,480px 480px 0 #333333,481px 481px 0 #333333,482px 482px 0 #333333,483px 483px 0 #333333,484px 484px 0 #333333,485px 485px 0 #333333,486px 486px 0 #333333,487px 487px 0 #333333,488px 488px 0 #333333,489px 489px 0 #333333,490px 490px 0 #333333,491px 491px 0 #333333,492px 492px 0 #333333,493px 493px 0 #333333,494px 494px 0 #333333,495px 495px 0 #333333,496px 496px 0 #333333,497px 497px 0 #333333,498px 498px 0 #333333,499px 499px 0 #333333,500px 500px 0 #333333;;
}
#remaining-time #day strong {
  vertical-align: middle;
}
#remaining-time #day span {
  font-size: 10.5vw;
  font-weight: 100;
  vertical-align: middle;
}
#remaining-time #time {
  letter-spacing: -0.05em;
  font-size: 4vw;
  text-shadow: 1px 1px 0 #1a1a1a,2px 2px 0 #1a1a1a,3px 3px 0 #1a1a1a,4px 4px 0 #1a1a1a,5px 5px 0 #1a1a1a,6px 6px 0 #1a1a1a,7px 7px 0 #1a1a1a,8px 8px 0 #1a1a1a,9px 9px 0 #1a1a1a,10px 10px 0 #1a1a1a,11px 11px 0 #1a1a1a,12px 12px 0 #1a1a1a,13px 13px 0 #1a1a1a,14px 14px 0 #1a1a1a,15px 15px 0 #1a1a1a,16px 16px 0 #1a1a1a,17px 17px 0 #1a1a1a,18px 18px 0 #1a1a1a,19px 19px 0 #1a1a1a,20px 20px 0 #1a1a1a,21px 21px 0 #1a1a1a,22px 22px 0 #1a1a1a,23px 23px 0 #1a1a1a,24px 24px 0 #1a1a1a,25px 25px 0 #1a1a1a,26px 26px 0 #1a1a1a,27px 27px 0 #1a1a1a,28px 28px 0 #1a1a1a,29px 29px 0 #1a1a1a,30px 30px 0 #1a1a1a,31px 31px 0 #1a1a1a,32px 32px 0 #1a1a1a,33px 33px 0 #1a1a1a,34px 34px 0 #1a1a1a,35px 35px 0 #1a1a1a,36px 36px 0 #1a1a1a,37px 37px 0 #1a1a1a,38px 38px 0 #1a1a1a,39px 39px 0 #1a1a1a,40px 40px 0 #1a1a1a,41px 41px 0 #1a1a1a,42px 42px 0 #1a1a1a,43px 43px 0 #1a1a1a,44px 44px 0 #1a1a1a,45px 45px 0 #1a1a1a,46px 46px 0 #1a1a1a,47px 47px 0 #1a1a1a,48px 48px 0 #1a1a1a,49px 49px 0 #1a1a1a,50px 50px 0 #1a1a1a,51px 51px 0 #1a1a1a,52px 52px 0 #1a1a1a,53px 53px 0 #1a1a1a,54px 54px 0 #1a1a1a,55px 55px 0 #1a1a1a,56px 56px 0 #1a1a1a,57px 57px 0 #1a1a1a,58px 58px 0 #1a1a1a,59px 59px 0 #1a1a1a,60px 60px 0 #1a1a1a,61px 61px 0 #1a1a1a,62px 62px 0 #1a1a1a,63px 63px 0 #1a1a1a,64px 64px 0 #1a1a1a,65px 65px 0 #1a1a1a,66px 66px 0 #1a1a1a,67px 67px 0 #1a1a1a,68px 68px 0 #1a1a1a,69px 69px 0 #1a1a1a,70px 70px 0 #1a1a1a,71px 71px 0 #1a1a1a,72px 72px 0 #1a1a1a,73px 73px 0 #1a1a1a,74px 74px 0 #1a1a1a,75px 75px 0 #1a1a1a,76px 76px 0 #1a1a1a,77px 77px 0 #1a1a1a,78px 78px 0 #1a1a1a,79px 79px 0 #1a1a1a,80px 80px 0 #1a1a1a,81px 81px 0 #1a1a1a,82px 82px 0 #1a1a1a,83px 83px 0 #1a1a1a,84px 84px 0 #1a1a1a,85px 85px 0 #1a1a1a,86px 86px 0 #1a1a1a,87px 87px 0 #1a1a1a,88px 88px 0 #1a1a1a,89px 89px 0 #1a1a1a,90px 90px 0 #1a1a1a,91px 91px 0 #1a1a1a,92px 92px 0 #1a1a1a,93px 93px 0 #1a1a1a,94px 94px 0 #1a1a1a,95px 95px 0 #1a1a1a,96px 96px 0 #1a1a1a,97px 97px 0 #1a1a1a,98px 98px 0 #1a1a1a,99px 99px 0 #1a1a1a,100px 100px 0 #1a1a1a,101px 101px 0 #1a1a1a,102px 102px 0 #1a1a1a,103px 103px 0 #1a1a1a,104px 104px 0 #1a1a1a,105px 105px 0 #1a1a1a,106px 106px 0 #1a1a1a,107px 107px 0 #1a1a1a,108px 108px 0 #1a1a1a,109px 109px 0 #1a1a1a,110px 110px 0 #1a1a1a,111px 111px 0 #1a1a1a,112px 112px 0 #1a1a1a,113px 113px 0 #1a1a1a,114px 114px 0 #1a1a1a,115px 115px 0 #1a1a1a,116px 116px 0 #1a1a1a,117px 117px 0 #1a1a1a,118px 118px 0 #1a1a1a,119px 119px 0 #1a1a1a,120px 120px 0 #1a1a1a,121px 121px 0 #1a1a1a,122px 122px 0 #1a1a1a,123px 123px 0 #1a1a1a,124px 124px 0 #1a1a1a,125px 125px 0 #1a1a1a,126px 126px 0 #1a1a1a,127px 127px 0 #1a1a1a,128px 128px 0 #1a1a1a,129px 129px 0 #1a1a1a,130px 130px 0 #1a1a1a,131px 131px 0 #1a1a1a,132px 132px 0 #1a1a1a,133px 133px 0 #1a1a1a,134px 134px 0 #1a1a1a,135px 135px 0 #1a1a1a,136px 136px 0 #1a1a1a,137px 137px 0 #1a1a1a,138px 138px 0 #1a1a1a,139px 139px 0 #1a1a1a,140px 140px 0 #1a1a1a,141px 141px 0 #1a1a1a,142px 142px 0 #1a1a1a,143px 143px 0 #1a1a1a,144px 144px 0 #1a1a1a,145px 145px 0 #1a1a1a,146px 146px 0 #1a1a1a,147px 147px 0 #1a1a1a,148px 148px 0 #1a1a1a,149px 149px 0 #1a1a1a,150px 150px 0 #1a1a1a,151px 151px 0 #1a1a1a,152px 152px 0 #1a1a1a,153px 153px 0 #1a1a1a,154px 154px 0 #1a1a1a,155px 155px 0 #1a1a1a,156px 156px 0 #1a1a1a,157px 157px 0 #1a1a1a,158px 158px 0 #1a1a1a,159px 159px 0 #1a1a1a,160px 160px 0 #1a1a1a,161px 161px 0 #1a1a1a,162px 162px 0 #1a1a1a,163px 163px 0 #1a1a1a,164px 164px 0 #1a1a1a,165px 165px 0 #1a1a1a,166px 166px 0 #1a1a1a,167px 167px 0 #1a1a1a,168px 168px 0 #1a1a1a,169px 169px 0 #1a1a1a,170px 170px 0 #1a1a1a,171px 171px 0 #1a1a1a,172px 172px 0 #1a1a1a,173px 173px 0 #1a1a1a,174px 174px 0 #1a1a1a,175px 175px 0 #1a1a1a,176px 176px 0 #1a1a1a,177px 177px 0 #1a1a1a,178px 178px 0 #1a1a1a,179px 179px 0 #1a1a1a,180px 180px 0 #1a1a1a,181px 181px 0 #1a1a1a,182px 182px 0 #1a1a1a,183px 183px 0 #1a1a1a,184px 184px 0 #1a1a1a,185px 185px 0 #1a1a1a,186px 186px 0 #1a1a1a,187px 187px 0 #1a1a1a,188px 188px 0 #1a1a1a,189px 189px 0 #1a1a1a,190px 190px 0 #1a1a1a,191px 191px 0 #1a1a1a,192px 192px 0 #1a1a1a,193px 193px 0 #1a1a1a,194px 194px 0 #1a1a1a,195px 195px 0 #1a1a1a,196px 196px 0 #1a1a1a,197px 197px 0 #1a1a1a,198px 198px 0 #1a1a1a,199px 199px 0 #1a1a1a,200px 200px 0 #1a1a1a,201px 201px 0 #1a1a1a,202px 202px 0 #1a1a1a,203px 203px 0 #1a1a1a,204px 204px 0 #1a1a1a,205px 205px 0 #1a1a1a,206px 206px 0 #1a1a1a,207px 207px 0 #1a1a1a,208px 208px 0 #1a1a1a,209px 209px 0 #1a1a1a,210px 210px 0 #1a1a1a,211px 211px 0 #1a1a1a,212px 212px 0 #1a1a1a,213px 213px 0 #1a1a1a,214px 214px 0 #1a1a1a,215px 215px 0 #1a1a1a,216px 216px 0 #1a1a1a,217px 217px 0 #1a1a1a,218px 218px 0 #1a1a1a,219px 219px 0 #1a1a1a,220px 220px 0 #1a1a1a,221px 221px 0 #1a1a1a,222px 222px 0 #1a1a1a,223px 223px 0 #1a1a1a,224px 224px 0 #1a1a1a,225px 225px 0 #1a1a1a,226px 226px 0 #1a1a1a,227px 227px 0 #1a1a1a,228px 228px 0 #1a1a1a,229px 229px 0 #1a1a1a,230px 230px 0 #1a1a1a,231px 231px 0 #1a1a1a,232px 232px 0 #1a1a1a,233px 233px 0 #1a1a1a,234px 234px 0 #1a1a1a,235px 235px 0 #1a1a1a,236px 236px 0 #1a1a1a,237px 237px 0 #1a1a1a,238px 238px 0 #1a1a1a,239px 239px 0 #1a1a1a,240px 240px 0 #1a1a1a,241px 241px 0 #1a1a1a,242px 242px 0 #1a1a1a,243px 243px 0 #1a1a1a,244px 244px 0 #1a1a1a,245px 245px 0 #1a1a1a,246px 246px 0 #1a1a1a,247px 247px 0 #1a1a1a,248px 248px 0 #1a1a1a,249px 249px 0 #1a1a1a,250px 250px 0 #1a1a1a,251px 251px 0 #1a1a1a,252px 252px 0 #1a1a1a,253px 253px 0 #1a1a1a,254px 254px 0 #1a1a1a,255px 255px 0 #1a1a1a,256px 256px 0 #1a1a1a,257px 257px 0 #1a1a1a,258px 258px 0 #1a1a1a,259px 259px 0 #1a1a1a,260px 260px 0 #1a1a1a,261px 261px 0 #1a1a1a,262px 262px 0 #1a1a1a,263px 263px 0 #1a1a1a,264px 264px 0 #1a1a1a,265px 265px 0 #1a1a1a,266px 266px 0 #1a1a1a,267px 267px 0 #1a1a1a,268px 268px 0 #1a1a1a,269px 269px 0 #1a1a1a,270px 270px 0 #1a1a1a,271px 271px 0 #1a1a1a,272px 272px 0 #1a1a1a,273px 273px 0 #1a1a1a,274px 274px 0 #1a1a1a,275px 275px 0 #1a1a1a,276px 276px 0 #1a1a1a,277px 277px 0 #1a1a1a,278px 278px 0 #1a1a1a,279px 279px 0 #1a1a1a,280px 280px 0 #1a1a1a,281px 281px 0 #1a1a1a,282px 282px 0 #1a1a1a,283px 283px 0 #1a1a1a,284px 284px 0 #1a1a1a,285px 285px 0 #1a1a1a,286px 286px 0 #1a1a1a,287px 287px 0 #1a1a1a,288px 288px 0 #1a1a1a,289px 289px 0 #1a1a1a,290px 290px 0 #1a1a1a,291px 291px 0 #1a1a1a,292px 292px 0 #1a1a1a,293px 293px 0 #1a1a1a,294px 294px 0 #1a1a1a,295px 295px 0 #1a1a1a,296px 296px 0 #1a1a1a,297px 297px 0 #1a1a1a,298px 298px 0 #1a1a1a,299px 299px 0 #1a1a1a,300px 300px 0 #1a1a1a,301px 301px 0 #1a1a1a,302px 302px 0 #1a1a1a,303px 303px 0 #1a1a1a,304px 304px 0 #1a1a1a,305px 305px 0 #1a1a1a,306px 306px 0 #1a1a1a,307px 307px 0 #1a1a1a,308px 308px 0 #1a1a1a,309px 309px 0 #1a1a1a,310px 310px 0 #1a1a1a,311px 311px 0 #1a1a1a,312px 312px 0 #1a1a1a,313px 313px 0 #1a1a1a,314px 314px 0 #1a1a1a,315px 315px 0 #1a1a1a,316px 316px 0 #1a1a1a,317px 317px 0 #1a1a1a,318px 318px 0 #1a1a1a,319px 319px 0 #1a1a1a,320px 320px 0 #1a1a1a,321px 321px 0 #1a1a1a,322px 322px 0 #1a1a1a,323px 323px 0 #1a1a1a,324px 324px 0 #1a1a1a,325px 325px 0 #1a1a1a,326px 326px 0 #1a1a1a,327px 327px 0 #1a1a1a,328px 328px 0 #1a1a1a,329px 329px 0 #1a1a1a,330px 330px 0 #1a1a1a,331px 331px 0 #1a1a1a,332px 332px 0 #1a1a1a,333px 333px 0 #1a1a1a,334px 334px 0 #1a1a1a,335px 335px 0 #1a1a1a,336px 336px 0 #1a1a1a,337px 337px 0 #1a1a1a,338px 338px 0 #1a1a1a,339px 339px 0 #1a1a1a,340px 340px 0 #1a1a1a,341px 341px 0 #1a1a1a,342px 342px 0 #1a1a1a,343px 343px 0 #1a1a1a,344px 344px 0 #1a1a1a,345px 345px 0 #1a1a1a,346px 346px 0 #1a1a1a,347px 347px 0 #1a1a1a,348px 348px 0 #1a1a1a,349px 349px 0 #1a1a1a,350px 350px 0 #1a1a1a,351px 351px 0 #1a1a1a,352px 352px 0 #1a1a1a,353px 353px 0 #1a1a1a,354px 354px 0 #1a1a1a,355px 355px 0 #1a1a1a,356px 356px 0 #1a1a1a,357px 357px 0 #1a1a1a,358px 358px 0 #1a1a1a,359px 359px 0 #1a1a1a,360px 360px 0 #1a1a1a,361px 361px 0 #1a1a1a,362px 362px 0 #1a1a1a,363px 363px 0 #1a1a1a,364px 364px 0 #1a1a1a,365px 365px 0 #1a1a1a,366px 366px 0 #1a1a1a,367px 367px 0 #1a1a1a,368px 368px 0 #1a1a1a,369px 369px 0 #1a1a1a,370px 370px 0 #1a1a1a,371px 371px 0 #1a1a1a,372px 372px 0 #1a1a1a,373px 373px 0 #1a1a1a,374px 374px 0 #1a1a1a,375px 375px 0 #1a1a1a,376px 376px 0 #1a1a1a,377px 377px 0 #1a1a1a,378px 378px 0 #1a1a1a,379px 379px 0 #1a1a1a,380px 380px 0 #1a1a1a,381px 381px 0 #1a1a1a,382px 382px 0 #1a1a1a,383px 383px 0 #1a1a1a,384px 384px 0 #1a1a1a,385px 385px 0 #1a1a1a,386px 386px 0 #1a1a1a,387px 387px 0 #1a1a1a,388px 388px 0 #1a1a1a,389px 389px 0 #1a1a1a,390px 390px 0 #1a1a1a,391px 391px 0 #1a1a1a,392px 392px 0 #1a1a1a,393px 393px 0 #1a1a1a,394px 394px 0 #1a1a1a,395px 395px 0 #1a1a1a,396px 396px 0 #1a1a1a,397px 397px 0 #1a1a1a,398px 398px 0 #1a1a1a,399px 399px 0 #1a1a1a,400px 400px 0 #1a1a1a,401px 401px 0 #1a1a1a,402px 402px 0 #1a1a1a,403px 403px 0 #1a1a1a,404px 404px 0 #1a1a1a,405px 405px 0 #1a1a1a,406px 406px 0 #1a1a1a,407px 407px 0 #1a1a1a,408px 408px 0 #1a1a1a,409px 409px 0 #1a1a1a,410px 410px 0 #1a1a1a,411px 411px 0 #1a1a1a,412px 412px 0 #1a1a1a,413px 413px 0 #1a1a1a,414px 414px 0 #1a1a1a,415px 415px 0 #1a1a1a,416px 416px 0 #1a1a1a,417px 417px 0 #1a1a1a,418px 418px 0 #1a1a1a,419px 419px 0 #1a1a1a,420px 420px 0 #1a1a1a,421px 421px 0 #1a1a1a,422px 422px 0 #1a1a1a,423px 423px 0 #1a1a1a,424px 424px 0 #1a1a1a,425px 425px 0 #1a1a1a,426px 426px 0 #1a1a1a,427px 427px 0 #1a1a1a,428px 428px 0 #1a1a1a,429px 429px 0 #1a1a1a,430px 430px 0 #1a1a1a,431px 431px 0 #1a1a1a,432px 432px 0 #1a1a1a,433px 433px 0 #1a1a1a,434px 434px 0 #1a1a1a,435px 435px 0 #1a1a1a,436px 436px 0 #1a1a1a,437px 437px 0 #1a1a1a,438px 438px 0 #1a1a1a,439px 439px 0 #1a1a1a,440px 440px 0 #1a1a1a,441px 441px 0 #1a1a1a,442px 442px 0 #1a1a1a,443px 443px 0 #1a1a1a,444px 444px 0 #1a1a1a,445px 445px 0 #1a1a1a,446px 446px 0 #1a1a1a,447px 447px 0 #1a1a1a,448px 448px 0 #1a1a1a,449px 449px 0 #1a1a1a,450px 450px 0 #1a1a1a,451px 451px 0 #1a1a1a,452px 452px 0 #1a1a1a,453px 453px 0 #1a1a1a,454px 454px 0 #1a1a1a,455px 455px 0 #1a1a1a,456px 456px 0 #1a1a1a,457px 457px 0 #1a1a1a,458px 458px 0 #1a1a1a,459px 459px 0 #1a1a1a,460px 460px 0 #1a1a1a,461px 461px 0 #1a1a1a,462px 462px 0 #1a1a1a,463px 463px 0 #1a1a1a,464px 464px 0 #1a1a1a,465px 465px 0 #1a1a1a,466px 466px 0 #1a1a1a,467px 467px 0 #1a1a1a,468px 468px 0 #1a1a1a,469px 469px 0 #1a1a1a,470px 470px 0 #1a1a1a,471px 471px 0 #1a1a1a,472px 472px 0 #1a1a1a,473px 473px 0 #1a1a1a,474px 474px 0 #1a1a1a,475px 475px 0 #1a1a1a,476px 476px 0 #1a1a1a,477px 477px 0 #1a1a1a,478px 478px 0 #1a1a1a,479px 479px 0 #1a1a1a,480px 480px 0 #1a1a1a,481px 481px 0 #1a1a1a,482px 482px 0 #1a1a1a,483px 483px 0 #1a1a1a,484px 484px 0 #1a1a1a,485px 485px 0 #1a1a1a,486px 486px 0 #1a1a1a,487px 487px 0 #1a1a1a,488px 488px 0 #1a1a1a,489px 489px 0 #1a1a1a,490px 490px 0 #1a1a1a,491px 491px 0 #1a1a1a,492px 492px 0 #1a1a1a,493px 493px 0 #1a1a1a,494px 494px 0 #1a1a1a,495px 495px 0 #1a1a1a,496px 496px 0 #1a1a1a,497px 497px 0 #1a1a1a,498px 498px 0 #1a1a1a,499px 499px 0 #1a1a1a,500px 500px 0 #1a1a1a;;
  margin-top: -20px;
}