* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

button {
  background: none;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  display: block;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 10px;
}
.btns .btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  background-color: #666;
  font-family: "Montserrat";
}
.btns .btn.on {
  background-color: #f00;
}

.paper-wrap {
  width: 350px;
  margin: auto;
  min-height: 390px;
  overflow: hidden;
  position: relative;
}
.paper-wrap:before {
  content: "GOOD \aLUCK";
  white-space: pre;
  display: block;
  color: #fff;
  font-size: 24px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}

.paper {
  min-height: 370px;
  background-color: #fff;
  transform: translateY(-110%);
  position: relative;
}
.paper.on {
  transition: all 1s ease;
  transform: translateY(0);
}
.paper:after {
  background: linear-gradient(-45deg, transparent 16px, #fff 0), linear-gradient(45deg, transparent 16px, #fff 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 10px 20px;
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -18px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  gap: 5px;
  padding: 50px 0;
}
.list li {
  font-weight: 700;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  color: #fff;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.list li.orange {
  background-color: rgb(251, 196, 0);
  text-shadow: 1px 1px 0 #c89c00,2px 2px 0 #c89c00,3px 3px 0 #c89c00,4px 4px 0 #c89c00,5px 5px 0 #c89c00,6px 6px 0 #c89c00,7px 7px 0 #c89c00,8px 8px 0 #c89c00,9px 9px 0 #c89c00,10px 10px 0 #c89c00,11px 11px 0 #c89c00,12px 12px 0 #c89c00,13px 13px 0 #c89c00,14px 14px 0 #c89c00,15px 15px 0 #c89c00,16px 16px 0 #c89c00,17px 17px 0 #c89c00,18px 18px 0 #c89c00,19px 19px 0 #c89c00,20px 20px 0 #c89c00,21px 21px 0 #c89c00,22px 22px 0 #c89c00,23px 23px 0 #c89c00,24px 24px 0 #c89c00,25px 25px 0 #c89c00,26px 26px 0 #c89c00,27px 27px 0 #c89c00,28px 28px 0 #c89c00,29px 29px 0 #c89c00,30px 30px 0 #c89c00,31px 31px 0 #c89c00,32px 32px 0 #c89c00,33px 33px 0 #c89c00,34px 34px 0 #c89c00,35px 35px 0 #c89c00,36px 36px 0 #c89c00,37px 37px 0 #c89c00,38px 38px 0 #c89c00,39px 39px 0 #c89c00,40px 40px 0 #c89c00,41px 41px 0 #c89c00,42px 42px 0 #c89c00,43px 43px 0 #c89c00,44px 44px 0 #c89c00,45px 45px 0 #c89c00,46px 46px 0 #c89c00,47px 47px 0 #c89c00,48px 48px 0 #c89c00,49px 49px 0 #c89c00,50px 50px 0 #c89c00;;
}
.list li.blue {
  background-color: rgb(105, 200, 242);
  text-shadow: 1px 1px 0 #3ab7ee,2px 2px 0 #3ab7ee,3px 3px 0 #3ab7ee,4px 4px 0 #3ab7ee,5px 5px 0 #3ab7ee,6px 6px 0 #3ab7ee,7px 7px 0 #3ab7ee,8px 8px 0 #3ab7ee,9px 9px 0 #3ab7ee,10px 10px 0 #3ab7ee,11px 11px 0 #3ab7ee,12px 12px 0 #3ab7ee,13px 13px 0 #3ab7ee,14px 14px 0 #3ab7ee,15px 15px 0 #3ab7ee,16px 16px 0 #3ab7ee,17px 17px 0 #3ab7ee,18px 18px 0 #3ab7ee,19px 19px 0 #3ab7ee,20px 20px 0 #3ab7ee,21px 21px 0 #3ab7ee,22px 22px 0 #3ab7ee,23px 23px 0 #3ab7ee,24px 24px 0 #3ab7ee,25px 25px 0 #3ab7ee,26px 26px 0 #3ab7ee,27px 27px 0 #3ab7ee,28px 28px 0 #3ab7ee,29px 29px 0 #3ab7ee,30px 30px 0 #3ab7ee,31px 31px 0 #3ab7ee,32px 32px 0 #3ab7ee,33px 33px 0 #3ab7ee,34px 34px 0 #3ab7ee,35px 35px 0 #3ab7ee,36px 36px 0 #3ab7ee,37px 37px 0 #3ab7ee,38px 38px 0 #3ab7ee,39px 39px 0 #3ab7ee,40px 40px 0 #3ab7ee,41px 41px 0 #3ab7ee,42px 42px 0 #3ab7ee,43px 43px 0 #3ab7ee,44px 44px 0 #3ab7ee,45px 45px 0 #3ab7ee,46px 46px 0 #3ab7ee,47px 47px 0 #3ab7ee,48px 48px 0 #3ab7ee,49px 49px 0 #3ab7ee,50px 50px 0 #3ab7ee;;
}
.list li.red {
  background-color: rgb(255, 114, 114);
  text-shadow: 1px 1px 0 #ff3f3f,2px 2px 0 #ff3f3f,3px 3px 0 #ff3f3f,4px 4px 0 #ff3f3f,5px 5px 0 #ff3f3f,6px 6px 0 #ff3f3f,7px 7px 0 #ff3f3f,8px 8px 0 #ff3f3f,9px 9px 0 #ff3f3f,10px 10px 0 #ff3f3f,11px 11px 0 #ff3f3f,12px 12px 0 #ff3f3f,13px 13px 0 #ff3f3f,14px 14px 0 #ff3f3f,15px 15px 0 #ff3f3f,16px 16px 0 #ff3f3f,17px 17px 0 #ff3f3f,18px 18px 0 #ff3f3f,19px 19px 0 #ff3f3f,20px 20px 0 #ff3f3f,21px 21px 0 #ff3f3f,22px 22px 0 #ff3f3f,23px 23px 0 #ff3f3f,24px 24px 0 #ff3f3f,25px 25px 0 #ff3f3f,26px 26px 0 #ff3f3f,27px 27px 0 #ff3f3f,28px 28px 0 #ff3f3f,29px 29px 0 #ff3f3f,30px 30px 0 #ff3f3f,31px 31px 0 #ff3f3f,32px 32px 0 #ff3f3f,33px 33px 0 #ff3f3f,34px 34px 0 #ff3f3f,35px 35px 0 #ff3f3f,36px 36px 0 #ff3f3f,37px 37px 0 #ff3f3f,38px 38px 0 #ff3f3f,39px 39px 0 #ff3f3f,40px 40px 0 #ff3f3f,41px 41px 0 #ff3f3f,42px 42px 0 #ff3f3f,43px 43px 0 #ff3f3f,44px 44px 0 #ff3f3f,45px 45px 0 #ff3f3f,46px 46px 0 #ff3f3f,47px 47px 0 #ff3f3f,48px 48px 0 #ff3f3f,49px 49px 0 #ff3f3f,50px 50px 0 #ff3f3f;;
}
.list li.gray {
  background-color: rgb(170, 170, 170);
  text-shadow: 1px 1px 0 #919191,2px 2px 0 #919191,3px 3px 0 #919191,4px 4px 0 #919191,5px 5px 0 #919191,6px 6px 0 #919191,7px 7px 0 #919191,8px 8px 0 #919191,9px 9px 0 #919191,10px 10px 0 #919191,11px 11px 0 #919191,12px 12px 0 #919191,13px 13px 0 #919191,14px 14px 0 #919191,15px 15px 0 #919191,16px 16px 0 #919191,17px 17px 0 #919191,18px 18px 0 #919191,19px 19px 0 #919191,20px 20px 0 #919191,21px 21px 0 #919191,22px 22px 0 #919191,23px 23px 0 #919191,24px 24px 0 #919191,25px 25px 0 #919191,26px 26px 0 #919191,27px 27px 0 #919191,28px 28px 0 #919191,29px 29px 0 #919191,30px 30px 0 #919191,31px 31px 0 #919191,32px 32px 0 #919191,33px 33px 0 #919191,34px 34px 0 #919191,35px 35px 0 #919191,36px 36px 0 #919191,37px 37px 0 #919191,38px 38px 0 #919191,39px 39px 0 #919191,40px 40px 0 #919191,41px 41px 0 #919191,42px 42px 0 #919191,43px 43px 0 #919191,44px 44px 0 #919191,45px 45px 0 #919191,46px 46px 0 #919191,47px 47px 0 #919191,48px 48px 0 #919191,49px 49px 0 #919191,50px 50px 0 #919191;;
}
.list li.green {
  background-color: rgb(176, 216, 64);
  text-shadow: 1px 1px 0 #96be27,2px 2px 0 #96be27,3px 3px 0 #96be27,4px 4px 0 #96be27,5px 5px 0 #96be27,6px 6px 0 #96be27,7px 7px 0 #96be27,8px 8px 0 #96be27,9px 9px 0 #96be27,10px 10px 0 #96be27,11px 11px 0 #96be27,12px 12px 0 #96be27,13px 13px 0 #96be27,14px 14px 0 #96be27,15px 15px 0 #96be27,16px 16px 0 #96be27,17px 17px 0 #96be27,18px 18px 0 #96be27,19px 19px 0 #96be27,20px 20px 0 #96be27,21px 21px 0 #96be27,22px 22px 0 #96be27,23px 23px 0 #96be27,24px 24px 0 #96be27,25px 25px 0 #96be27,26px 26px 0 #96be27,27px 27px 0 #96be27,28px 28px 0 #96be27,29px 29px 0 #96be27,30px 30px 0 #96be27,31px 31px 0 #96be27,32px 32px 0 #96be27,33px 33px 0 #96be27,34px 34px 0 #96be27,35px 35px 0 #96be27,36px 36px 0 #96be27,37px 37px 0 #96be27,38px 38px 0 #96be27,39px 39px 0 #96be27,40px 40px 0 #96be27,41px 41px 0 #96be27,42px 42px 0 #96be27,43px 43px 0 #96be27,44px 44px 0 #96be27,45px 45px 0 #96be27,46px 46px 0 #96be27,47px 47px 0 #96be27,48px 48px 0 #96be27,49px 49px 0 #96be27,50px 50px 0 #96be27;;
}

.popup {
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 100px;
}
.popup .content {
  width: 400px;
  min-height: 300px;
  background-color: #111;
}
.popup .btn-close {
  padding: 10px 15px;
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}