@import "default";
@import "mixin";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #666;
  background-size: cover;
}
#btns {
  position: fixed;
  width: 100%;
  top: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  button {
    border: none;
    outline: none;
    background-color: #105fe8;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 0 0 darken(#105fe8, 10);
    font-weight: 600;
  }
}
#remaining-time {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  #day {
    font-size: 12vw;
    font-weight: 700;
    @include longShadow(500, darken(#666, 20));
    strong {
      vertical-align: middle;
    }
    span {
      font-size: 10.5vw;
      font-weight: 100;
      vertical-align: middle;
    }
  }
  #time {
    letter-spacing: -0.05em;
    font-size: 4vw;
    @include longShadow(500, darken(#666, 30));
    margin-top: -20px;
  }
}
